@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body{
    background-color: #fff;
}


/******MENU******/

.nav{
	top: 0;
	position: fixed;
	z-index: 10;
	width: 100%;
    height: 10vh;
    color:#242a38;

}

.nav-contenedor{
    display: flex;
    height:100% ;
    width: 90%;
    margin: 0 auto;
    justify-content: flex-end;
    align-items: center;
}

#menu-bar{
	display: none;
}

.icon-menu img{
	width: 30px;
}


.menu{
	position: absolute;
	top: 10vh;
	left: 0;
	width: 100%;
	height: auto; 
	transition: all 0.5s;
	transform: translateX(-100%);
    background-color: #f9f6ff;
}
.menu a{
	display: block;
	color: #242a38;
	height: 50px;
	text-decoration: none;
	padding: 15px;
	transition: 0.3s;

	font-size: 17px;
	font-weight: 600;
	color: #242a38;
}

.menu a:focus{
	color: #4f25c7;
	font-weight: 600;
}

.menu a:active{
	color: #4f25c7;
	font-weight: 800;
}

#menu-bar:checked ~ .menu{
	transform: translateX(0%);
}


@media (min-width:1024px){
	.menu{
		position: static;
		width: auto;
		height: auto;
		transform: translateX(0%);
		float:right;
		display: flex;
		background: rgba(255, 255, 255, 0);
	}

	.menu a {
		border:none;
		
	}

	.icon-menu{ 
		display: none;
	}
}

/**********************header******************/
header{
    width: 100%;
    height: 90vh;
    margin-top: 10vh;

    background-image: url(../images/forma.svg);
    background-size: 80%;
    background-position: left 15vh;
    background-repeat: no-repeat;
}



.info_perosnal{
    width: 100%;
	height: 25vh;
	padding: 2vh;
}

.info_perosnal h1{
    font-size:50px ;
    font-weight: 600;
	margin-bottom: 1vh;
}

.info_perosnal h3{
    font-size: 24px;
    font-weight: 600;
}




.perfil{
	width: 100%;
	height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:  flex-end;
}

.perfil img{
    height: 40vh;
}

.redes_sociales{
	width: 100%;
	height: 25vh;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: space-around;
}

.red-social-1{
	width: 60px;
	height: 60px;
	margin-top: -30px;
	border-radius: 50%;
	background-color:#8e7bef ;
	border: solid 2px #fff;

	display: flex;
	justify-content: center;
	align-items: center;
	
}
.red-social-1 img{
	width: 60%;
}
.red-social-2{
	width: 60px;
	height: 60px;
	margin-top: -30px;
	border-radius: 50%;
	background-color:#8e7bef ;
	border: solid 2px #fff;

	display: flex;
	justify-content: center;
	align-items: center;
}

.red-social-2 img{
	width: 60%;
}

.call-me{
	width: 80%;
	height: 50px;
	margin-top: 2vh;
	background-color:#5025c7;


	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.call-me img{
	width: 20px;
	margin-right: 2vh;
}

.call-me p{
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-weight: 400;
}


/*********************ABOUT ME******************************/

.about_container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about_content{
	max-width: 1200px;
	display:flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
.about_content h2{
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 25px;
}

.about_content p{
	font-size: 16px;
	font-family: montserrat;
	text-align: justify;
	padding: 25px;
	font-weight: 400;
}

/************************************skills************************************/

.skills_container{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding: 10px;

}

.skills_container h2{
	width: 100%;
	text-align: center;
	font-size: 24px;
	font-weight: 600;

}

.skills_item{
	background-color: #f9f6ff;
	display: flex;
	flex-flow: row wrap;
	flex-grow: 1;
	max-width: 300px;
	margin: 10px;
	padding: 10px;
}

.skills_item_title{
	width: 100%;
	display:flex;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
}

.skills_item_title img{
	width: 30px;
	margin-right: 10px;
}

.skills_item_title h3{
	font-size: 20px;	
	font-weight: 600;
	text-align: center;
}

.skills_item p{
	text-align: justify;
}

/*************************************EXPERIENCE*******************************/

.experience_container{

	width: 100%;
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

	margin-top: 5vh;

}

.experience_container h2{
	width: 100%;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	margin: 2vh;

}

.experience_item{
	width: 90%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	
}
.experience_icon{
	width: 33%;
	height: 150px;

	display:flex;
	justify-content: center;
	align-items: center;
 }

.experience_icon img{
	width: 100px;
}

.experience_description{
	width: 33%;
	font-weight: 400;
	padding: 2%;

}

.experience_description h3{
	font-weight: 600;
	margin-top: 25%;
	font-size: 20px;
}

.experience_description p{
	font-size: 162
}

.experience_years{
	width: 33%;
	display:flex;
	justify-content: center;
	align-items: center;
}